/* Modus Versus Slicing
 *
 * /sass/settings/_colors.scss - Global colors variables
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */

$mainColor: #62a29e;
$lightMainColor: #76c7c0;
$darkMainColor: #528b86;

$focusColor: #e8645a;
$darkFocusColor: #e2534b;

$mainBackgroundColor: #f3f3f3;
$headerBackgroundColor: $lightMainColor;

$headingTextColor: #7f8c8c;
$laborTextColor: #777777;
$menuTextColor: white;

$linkColor: #e1524b;
$hoverLinkColor: darken( $linkColor, 25% );

$headingFooter: #5b6770;
