/* Modus Versus Slicing
 *
 * /sass/objects/_slider.scss - Non-cosmetic styles for slider
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */

.clients{
    margin: 6.6rem 0;

    &__heading{
        min-width: 170px;
        margin-bottom: 6.6rem;
    }

    &__elt{
        display: inline-block;
    }
}
