/* Modus Versus Slicing
 *
 * /sass/objects/_header.scss - Non-cosmetic styles for header
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */

.aside-primary{
    margin: 3rem auto;
    max-width: $containerWidth;

    &::after{
        clear: both;
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }

    & section{
        float: left;
        width: 29.25rem;
    }

    & section+section{
        padding-left: 5rem;
    }
}
