/* Modus Versus Slicing
 *
 * /sass/objects/_slider.scss - Non-cosmetic styles for slider
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */

.services {

    &__elt{
        float: left;
        width: 23.0769%;
    }

    &__elt+&__elt{
        margin-left: 2.5641%;
    }

    &::after{
        clear: both;
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}
