/* Modus Versus Slicing
 *
 * /sass/objects/_topbar.main-nav.search-form.scss - Non-cosmetic styles for search-form
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */

// BLOCK search-form
.search-form {
    position: absolute;
    top: 0;
    right: 0;
    // ELEMENT toggle
    &__toggle {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
    }
    // ELEMENT form-elt
    &__form-elt {
        position: absolute;
        display: none;
        min-width: 20rem;
        top: 5rem;
        right: 0;
    }
    // ELEMENT input
    &__input {

    }
    // ELEMENT button
    &__button {

    }
    // MODIFIER js-is-open
    &--js-is-open {
        .search-form__form-elt {
            display: block;
        }
    }
}
