/* Modus Versus Slicing
 *
 * /sass/objects/_slider.scss - Non-cosmetic styles for slider
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */

.why{
    margin-top: 12rem;

    &__heading strong{
        display: block;
        margin-bottom: 1.5rem ;
    }

    &__figure{
        margin: 6.6rem 0;
    }

}
