/* Modus Versus Slicing
 *
 * /sass/objects/_slider.scss - Non-cosmetic styles for slider
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */

.why-col{
    display: inline-block;
    width: 27.2rem;

    &__heading{
        margin-bottom: 1.5rem;
    }


    &:first-of-type{
        float: left;
    }

    &:last-of-type{
        float: right;
    }
}
