/* Modus Versus Slicing
 *
 * /sass/components/_topbar.scss - Design styles for topbar
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */

.clients{
    text-align: left;

    &__heading{
        background-color: #f3f3f3;
        font-weight: bold;
        font-size: 1.3rem;
    }

    &__heading::after{
        content: " ";
        position: relative;
        z-index: 0;
        top: -0.8rem;
	    display: block;
        border: 0.1rem solid $headingTextColor;
        width: 95rem;
        margin-left: 17rem;
    }

    &__list{
        font-size: 0;
    }

    &__elt + &__elt{
        margin-left: 5.4rem;
    }

    &__nav{
        text-align: right;
        position: relative;
        top: -8.3rem;
    }

    &__client-previous{
        font-size: 0;
        text-decoration: none;
        color: $mainBackgroundColor;
        &::after{
            display: inline-block;
            width: 1.8rem;
            height: 1.8rem;
            content: "<";
            font-size: 1rem;
            line-height: 1.8rem;
            text-align: center;
            background-color: $headingTextColor;
            border-radius: .4rem;
        }
    }

    &__client-next{
        margin-left: 0.3rem;
        font-size: 0;
        text-decoration: none;
        color: $mainBackgroundColor;
        &::after{
            display: inline-block;
            width: 1.8rem;
            height: 1.8rem;
            content: ">";
            font-size: 1rem;
            line-height: 1.8rem;
            text-align: center;
            background-color: $headingTextColor;
            border-radius: .4rem;
        }
    }

}
