/* Modus Versus Slicing
 *
 * /sass/components/_topbar.logo.scss - Design styles for logo
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */

// BLOCK logo
.logo {
    // ELEMENT link
    &__link {
        display: block;
        background: transparent url( "#{ $imgPath }logo.svg" ) center left no-repeat;
        background-size: contain;
        font-size: 0;
    }
}
