/* Modus Versus Slicing
 *
 * /sass/base/_root.scss - Base styles for root element
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */

html {
	background: $mainBackgroundColor;
    font: normal 62.5%/1.25 $openSansStack;
    color: $laborTextColor;
}
